<div class="flex min-h-full flex-col items-start bg-primary text-primary-content transition-all duration-300 shadow-xl"
  [class.w-64]="sidebarService.isOpen()" [class.w-14]="!sidebarService.isOpen()">

  <div class="flex h-16 w-full items-center px-4 gap-3 border-b border-primary-content/10">
    <div
      class="flex aspect-square size-8 items-center justify-center rounded-lg bg-accent text-accent-content shadow-lg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3"
        class="size-5">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
    </div>
    <span class="is-drawer-close:hidden text-lg font-black tracking-tighter uppercase whitespace-nowrap">
      My App
    </span>
  </div>

  <ul class="menu w-full grow gap-1 p-2">
    @for (item of menuItems; track item.label) {
    <li>
      <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right hover:bg-primary-content/10"
        [attr.data-tip]="item.tooltip">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round"
          stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4">

          @if (item.icon === 'dashboard') {
          <rect width="7" height="9" x="3" y="3" rx="1"></rect>
          <rect width="7" height="5" x="14" y="3" rx="1"></rect>
          <rect width="7" height="9" x="14" y="12" rx="1"></rect>
          <rect width="7" height="5" x="3" y="16" rx="1"></rect>
          }

          @if (item.icon === 'settings') {
          <path d="M20 7h-9"></path>
          <path d="M14 17H5"></path>
          <circle cx="17" cy="17" r="3"></circle>
          <circle cx="7" cy="7" r="3"></circle>
          }
        </svg>

        <span class="is-drawer-close:hidden font-medium">{{ item.label }}</span>
      </button>
    </li>
    }
  </ul>

  <div class="w-full p-2 border-t border-primary-content/10 bg-neutral/10">
    <button
      class="menu-title group flex w-full items-center gap-4 rounded-lg px-2 py-3 text-primary-content hover:bg-error hover:text-error-content transition-colors is-drawer-close:tooltip is-drawer-close:tooltip-right"
      data-tip="Sign Out">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"
        stroke-linecap="round" stroke-linejoin="round" class="size-4">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
        <polyline points="16 17 21 12 16 7"></polyline>
        <line x1="21" y1="12" x2="9" y2="12"></line>
      </svg>
      <span class="is-drawer-close:hidden font-bold">Sign Out</span>
    </button>
  </div>

</div>